@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/root';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/images';
@import 'node_modules/bootstrap/scss/code';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/tables';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/transitions';
@import 'node_modules/bootstrap/scss/dropdown';
@import 'node_modules/bootstrap/scss/button-group';
@import 'node_modules/bootstrap/scss/input-group';
@import 'node_modules/bootstrap/scss/custom-forms';
@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/card';
@import 'node_modules/bootstrap/scss/breadcrumb';
@import 'node_modules/bootstrap/scss/pagination';
@import 'node_modules/bootstrap/scss/badge';
@import 'node_modules/bootstrap/scss/jumbotron';
@import 'node_modules/bootstrap/scss/alert';
@import 'node_modules/bootstrap/scss/progress';
@import 'node_modules/bootstrap/scss/media';
@import 'node_modules/bootstrap/scss/list-group';
@import 'node_modules/bootstrap/scss/close';
@import 'node_modules/bootstrap/scss/modal';
@import 'node_modules/bootstrap/scss/tooltip';
@import 'node_modules/bootstrap/scss/popover';
@import 'node_modules/bootstrap/scss/carousel';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/print';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import 'toastr/build/toastr.css';
@import 'toastr_override';
@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css';
@import 'bootstrap_datepicker_override';

@media (min-width: 768px) {
  .modal-xl {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .modal-xl {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

.modal-full {
  max-width: none !important;
  margin: 1.75rem 0.5rem;
}

.form-group {
  position: relative;

  .col-form-label {
    color: $light;
  }

  .invalid-feedback {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .form-text {
    font-size: 1.2rem;
  }

  .custom-control {
    margin-top: calc(0.45rem + 1px);
  }

  &.is-invalid {
    .col-form-label {
      color: $danger;
      font-weight: 600;
    }

    .input-group {
      .input-group-append {
        .input-group-text {
          border-color: $danger;
        }
      }
    }
  }

  &.plain {
    > div[role='group'] {
      position: relative;

      .invalid-feedback {
        position: absolute;
        top: calc(-0.45rem - 1px);
        right: 5px;
        display: inline-block;
        text-align: right;
        margin-top: 0.25em;
        transform: translateY(-100%);
      }
    }
  }

  .form-row {
    .col-sm-9 {
      position: relative;
      padding-bottom: 1.8rem;

      .invalid-feedback {
        position: absolute;
        bottom: 0;
        right: 5px;
        display: inline-block;
        text-align: right;
        margin-top: 0.25em;
      }

      .form-text {
        position: absolute;
        bottom: 0;
        left: 5px;
        width: auto;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.text-muted {
          color: $light !important;
        }
      }

      .custom-radio,
      .form-control[type='range'] {
        margin-top: calc(0.45rem + 1px);
      }
    }
  }

  &.with-form-list {
    .form-row > div[role='group'] {
      padding-bottom: 0;

      .invalid-feedback {
        left: auto;
        width: auto;
        margin-bottom: calc(0.45rem + 1px);
        display: inline-block;
      }
    }
  }
}

.custom-radio,
.custom-checkbox {
  padding-left: 2rem;

  .custom-control-label {
    color: $dark;

    &:before,
    &:after {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      top: 0.1rem;
      left: -2rem;
    }

    span {
      //vertical-align: middle;
      display: inline-block;
      padding-left: 0.2rem;
    }
  }
}

.btn,
.form-control,
.input-group-text {
  border-radius: 0.2rem;
}

.btn,
button,
.form-control,
.page-link {
  outline: none !important;
  box-shadow: none !important;
}

.btn-outline-secondary {
  border-color: $lighter;

  &:not(:disabled) {
    &:hover,
    &:active {
      background-color: $lighter;
      border-color: $lighter;
      color: $dark;
    }
  }
}

.show > .btn-outline-secondary.dropdown-toggle {
  background-color: $lighter;
  border-color: $lighter;
  color: $dark;
}

.custom-select {
  border-color: $lighter;
  color: $dark;
}

.custom-select:invalid {
  color: $gray-400;
}

.custom-select:required {
  option[value=''][disabled] {
    display: none;
  }
}

.input-group-text {
  border-color: $lighter;
}

.form-control {
  font-size: 1.4rem;
  border-color: $lighter;

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.form-control-sm {
  font-size: 1.225rem;
}

.form-control-lg {
  font-size: 1.75rem;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(3rem + 2px);
}

select.form-control-sm:not([size]):not([multiple]) {
  height: calc(2.375rem + 2px);
}

select.form-control-lg:not([size]):not([multiple]) {
  height: calc(3.825rem + 2px);
}

.input-group-text {
  font-size: 1.4rem;
  background-color: $white;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 0.15rem 0.8rem;
  font-size: 1rem;
}

.btn + .btn,
.btn + .btn-group,
.btn-group + .btn-group,
.btn-group + .btn {
  margin-left: 4px;
}

.btn-primary,
.btn-info,
.btn-success,
.btn-danger,
.btn-warning {
  color: $white !important;
}

.btn,
.dropdown-menu .dropdown-item {
  .fa,
  .far,
  .fal,
  .fab {
    width: 1.5rem;
    text-align: center;
    margin-right: 8px;
  }

  .standalone {
    margin-right: 0;
  }
}

.btn-xs {
  .fa,
  .far,
  .fal,
  .fab {
    margin-right: 2px;
  }

  .standalone {
    margin-right: 0;
  }
}

.btn {
  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

.dropdown-menu {
  border-color: $lighter;
  min-width: 100%;
  padding: 0;

  .dropdown-item {
    padding: 0.75rem 1.8rem;
  }
}

.dropdown-item {
  &.disabled,
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.active,
  &:active {
    background-color: $lighter;
    color: $dark;
  }

  &.selected {
    background-color: $blue;
    color: $white;
  }
}

.dropdown-toggle {
  text-align: left;
  position: relative;
  padding-right: 3.6rem;

  &:after {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 1.8rem;
    transform: translate(0, -50%);
  }
}

.dropdown-wrapper {
  position: relative;
  cursor: default;

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    background-color: $white;
    border: solid $lighter 1px;
    border-radius: 0.2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 6px 12px 0 rgba(0, 0, 0, 0.04);

    &.align-left {
      left: 0;
      right: auto;
    }

    &.align-right {
      left: auto;
      right: 0;
    }

    .desc {
      line-height: 2rem;
      color: $dark;
      font-size: 1.2rem;
      margin: 0.4rem 1.6rem;
    }

    .dropdown-item {
      padding: 0.75rem 1.5rem;
      cursor: pointer;
      font-size: 1.2rem;

      &.no-action {
        cursor: default;
      }

      &.no-icon {
        margin-left: 2rem;
      }

      &:hover {
        background-color: $gray-100;
      }

      .fa,
      .far,
      .fal,
      .fab {
        width: 1.5rem;
        text-align: center;
        margin-right: 8px;
      }

      &.selectable {
        padding-right: 0.8rem;
        padding-left: 4.4rem;

        &.selected {
          position: relative;
          background-color: inherit;
          color: $dark;

          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 0.8rem;
            height: 0.8rem;
            background-color: $blue;
            border-radius: 50%;
            top: 50%;
            left: 1.6rem;
            transform: translateY(-50%);
          }
        }
      }

      &.selected {
        background-color: $blue;
        color: $white;
      }
    }
  }

  &.hoverable {
    .dropdown {
      display: none;
    }

    &:hover {
      .dropdown {
        display: block;
      }
    }
  }
}

.pagination {
  border-radius: 0;

  .page-link {
    color: $dark;
    border-radius: 0 !important;
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      border-radius: 0;
      border: none;
      box-shadow: 0 0 55px 4px $background-dark-2x;

      .modal-header {
        background-color: $background-dark-2x;
        color: $white;
        border-radius: 0;

        .close {
          text-shadow: none;
          color: $white;
          opacity: 1;
        }
      }

      .modal-body {
        .confirm-content {
          text-align: center;
          padding: 2rem 0;

          .confirm-icon {
            font-size: 8rem;
            color: $light;
          }

          .confirm-text {
            margin-top: 2rem;
            font-size: 1.8rem;
          }
        }
      }

      .modal-footer {
        border-top: none;
        background-color: $lighter;

        .spacer {
          flex: 1;
        }
      }
    }
  }
}
