.datepicker.dropdown-menu {
  color: $dark;
  border-color: $lighter;
}

.datepicker-dropdown.datepicker-orient-top:before {
  border-top-color: $lighter;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
  color: $light;
}

.datepicker table tr td.today,
.datepicker table tr td.today.day:hover,
.datepicker table tr td.today.focused {
  background-color: $light;
  color: $white;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
  background-color: $primary;
}

.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus {
  background-color: $primary;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
  background-color: $lighter;
}