.layout-console-topbar {
  position: fixed;
  top: 0;
  left: 20rem;
  right: 0;
  min-width: 84rem;
  height: 4.8rem;
  z-index: 9;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  padding: 0 2rem 0 calc(6rem + 4px);

  .context-dropdown {
    .dropdown-form {
      padding: 0.4rem;
    }

    .dropdown-more {
      border-top: solid $lighter 1px;
      text-align: center;
      padding: 0 1rem;
      font-size: 1rem;
      line-height: 3.3rem;
      color: $light;
    }
  }

  .spacer {
    flex: 1;
  }

  .topbar-item {
    display: block;
    cursor: pointer;
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;

    + .topbar-item {
      margin-left: 1.8rem;
    }

    .content-wrapper {
      .text {
        vertical-align: middle;
        font-size: 1.2rem;
      }

      i {
        vertical-align: middle;
      }

      .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;

        &.avatar {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }
      }
    }
  }
}

.layout-console-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 20rem;
  background-color: $background-dark-2x;
  color: $white;
  display: flex;
  flex-direction: column;

  .head {
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .toggle-button {
      position: absolute;
      left: calc(100% + 2rem);
      top: 2.4rem;
      transform: translateY(-50%);
      color: $dark;
      cursor: pointer;
      padding-left: 0;
      padding-right: 0;
      width: 4rem;
      text-align: center;

      i {
        margin: 0;
      }
    }

    .icon-logo {
      //margin: 0 .6rem;
    }

    .text {
      //display: none;
      margin-left: 0.8rem;
      //margin-right: 1.4rem;
      font-size: 2.4rem;
      line-height: 3.2rem;
      //font-weight: bold;
      //color: #F7901D;
      color: $white;
    }
  }

  .nav-wrapper {
    flex: 1;
    overflow: hidden;

    .nav-list {
      //padding: 1.2rem 0;
    }
  }

  .nav-list {
    .nav-item {
      display: block;
      font-size: 1.4rem;
      cursor: pointer;

      + .nav-item {
        margin-top: -1rem;
      }

      .content-wrapper {
        padding: 1rem 0.8rem;
        //margin: 1rem 0;
        line-height: 3.6rem;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.5);

        &:hover {
          color: $white;
        }

        .icon-wrapper {
          width: 3.6rem;
          text-align: center;
          font-size: 1.6rem;

          &.with-stack {
            font-size: 1rem;

            .fa-label {
              font-size: 1.2em;
              color: $background-dark-2x;
            }

            .fa-stack {
              .fa-inverse {
                font-size: 1.6em;
                color: $background-dark-2x;
              }
            }
          }

          .icon-16 {
            opacity: 0.5;
          }

          &.dropdown-sign,
          &.expand-sign {
            font-size: 1.2rem;
            opacity: 0.6;

            &.highlighted {
              opacity: 1;
            }
          }
        }

        .name {
          flex: 1;
          margin: 0 0 0 0.8rem;
          @include truncate-text;
        }

        &:hover {
          .icon-wrapper {
            .icon-16 {
              opacity: 1;
            }
          }
        }

        &.active {
          background-color: $background-dark-3x;
          color: $white;

          .icon-wrapper {
            color: inherit;

            &.with-stack {
              .fa-label {
                color: $background-dark-2x;
              }

              .fa-stack {
                .fa-inverse {
                  color: $background-dark-2x;
                }
              }
            }

            .icon-16 {
              opacity: 1;
            }
          }
        }
      }

      &.dropdown-wrapper {
        margin-left: 0.8rem;
        margin-right: 0.8rem;

        .content-wrapper {
          padding: 0.8rem 0;
          border-radius: 0.2rem;
          background-color: $background-dark-1x;
          color: $white;
        }

        .dropdown {
          color: $dark;
          min-width: 16rem;
        }
      }

      .expansion-wrapper {
        display: none;
      }

      &.expanded {
        background-color: $background-dark-3x;
        cursor: default;

        .content-wrapper {
          color: $white;
        }

        .expansion-wrapper {
          display: block;
          overflow: hidden;
          padding-bottom: 1rem;

          .expansion-group {
            margin: 0.5rem 0 0.5rem 0;
            padding: 0 1.6rem 0 1.6rem;
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 0.5);
          }

          .expansion-item + .expansion-group {
            margin-top: 2rem;
          }

          .expansion-item {
            display: block;
            height: 3.6rem;
            line-height: 3.6rem;
            padding-left: 5.2rem;
            margin-right: 0.8rem;
            @include truncate-text;
            font-size: 1.4rem;
            position: relative;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;

            &:before {
              content: '';
              display: block;
              position: absolute;
              width: 0.4rem;
              height: 0.4rem;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.5);
              top: 1.6rem;
              left: 2.4rem;
            }

            &:hover {
              color: $white;

              &:before {
                background-color: $white;
              }
            }

            &.active {
              color: $white;
              //background-color: $blue;

              &:before {
                background-color: $white;
              }
            }

            .expansion-item-badge {
              position: absolute;
              width: 2rem;
              height: 2rem;
              top: 0.8rem;
              right: 0.8rem;
              border-radius: 50%;
              background-color: $danger;
              text-align: center;
              font-size: 1rem;
              color: $white;
              font-weight: bold;
              line-height: 2rem;
            }
          }
        }
      }
    }
  }
}

.layout-console-body {
  padding-top: 4.8rem;
  padding-left: 20rem;
  min-height: 100vh;

  .page-blocker {
    position: fixed;
    z-index: 8;
    top: 4.8rem;
    left: 20rem;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 6rem;

    i {
      color: $light;
    }

    .message {
      margin-top: 2rem;
      color: $dark;
      font-size: 1.4rem;
    }
  }

  &.sidebar-minimized {
    padding-left: 5.2rem;

    .layout-console-topbar {
      left: 5.2rem;
    }

    .layout-console-sidebar {
      width: 5.2rem;

      .head {
        .text {
          display: none;
        }
      }

      .nav-item {
        .name {
          display: none;
        }

        .icon-wrapper {
          &.dropdown-sign,
          &.expand-sign {
            display: none;
          }
        }

        &.expanded {
          background-color: inherit;

          .expansion-wrapper {
            display: none;
          }
        }
      }
    }

    .page-blocker {
      left: 5.2rem;
    }
  }
}

.layout-main-block {
  padding: 2rem;
  overflow-x: hidden;
  font-size: 1.2rem;
}

.layout-primary-tips {
  margin-top: -2rem;
  padding: 2rem;
  //color: $light;

  &:before {
    display: inline-block;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    content: '\f30f';
    margin-right: 1rem;
  }
}

.layout-tab-head {
  background-color: $gray-300;
  padding: 0 2rem;
  display: flex;
  align-items: stretch;

  .tab-item {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 1rem 1.8rem;
    color: $darker;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    cursor: pointer;

    + .tab-item {
      margin-left: 0.6rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }

    &.active {
      background-color: $white;
      color: $dark;
      font-weight: bold;
      cursor: default;
    }
  }
}

.layout-panel {
  background-color: $white;
  padding: 2rem;
  border: solid $lighter 1px;

  + .layout-panel {
    margin-top: 2rem;

    &.continuous {
      margin-top: 0;
      border-top: none;
    }
  }

  .panel-head {
    margin: -2rem -2rem 2rem -2rem;
    padding: 0 0.8rem 0 2rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    border-bottom: solid $lighter 1px;

    &.extensive {
      height: auto;
      padding: 2rem;
    }

    &.continuous {
      margin-top: 2rem;
      border-top: solid $lighter 1px;
    }

    .head-title {
      font-size: 1.4rem;
      color: $darker;

      .desc {
        color: $light;
        font-size: 1rem;
      }
    }

    .head-tab {
      font-size: 1.4rem;
      color: $light;
      cursor: pointer;

      + .head-tab {
        margin-left: 2rem;
      }

      &.active {
        color: $darker;
      }
    }

    .spacer {
      flex: 1;
    }

    .dropdown-wrapper {
      position: relative;

      .button-wrapper {
        font-size: 1.4rem;
        line-height: 2.4rem;
        text-align: center;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: $dark;
          color: $white;
        }
      }
    }
  }

  .panel-toolbar {
    padding: 0 0 2rem 0;
    border-bottom: solid $lighter 1px;
    display: flex;
    align-items: center;

    .toolbar-title {
      font-size: 1.4rem;
      color: $darker;
    }

    .spacer {
      flex: 1;
    }

    .pagination-wrapper {
      flex: 1;
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .pagination-info {
        color: $dark;
        white-space: nowrap;
      }

      .form-control {
        width: auto;
        min-width: 0;
        margin: 0 0.4rem;
      }
    }

    + .layout-form {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: solid $gray-300 1px;
    }

    > .custom-select {
      width: auto;
    }

    > .custom-select + .btn,
    > .btn + .custom-select,
    > .custom-select + .btn-group,
    > .btn-group + .custom-select {
      margin-left: 4px;
    }
  }

  .table ~ .panel-toolbar {
    padding: 2rem 0 0 0;
    border-bottom: none;
    border-top: solid $lighter 1px;
  }
}

.layout-panel-tab {
  display: flex;
  align-items: stretch;

  ~ .layout-panel {
    border-top: none;
  }

  .tab {
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
    border: solid transparent 1px;
    border-bottom-color: $lighter;
    cursor: pointer;

    &.active {
      border-color: $lighter;
      border-bottom-color: transparent;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.05);
      color: $darker;
      background-color: $white;

      &:hover {
        color: $darker;
      }
    }

    i {
      margin-right: 0.8rem;
    }
  }

  .spacer {
    flex: 1;
    border-bottom: solid $lighter 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.layout-splitter {
  display: flex;
  align-items: self-start;
  margin: 0 -2rem;

  .primary-block {
    flex: 6;
    padding: 0 2rem 2rem 2rem;

    .layout-panel {
      .panel-tab {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .secondary-block {
    flex: 2;
    padding: 0 2rem 2rem 2rem;

    .layout-form {
      padding-top: 0;

      .form-group {
        .form-row {
          padding-right: 1rem;

          > .col-form-label {
            width: 8rem;
            max-width: 8rem;
            min-width: 8rem;
            word-break: break-word;
          }
        }
      }
    }

    .block-actions {
      margin-top: 2rem;
      //display: flex;

      .btn {
        display: block;
        //flex: 1;
        width: 100%;

        + .btn {
          margin: 4px 0 0 0;
        }
      }
    }
  }

  .primary-block + .secondary-block,
  .secondary-block + .primary-block {
    padding-left: 0;
  }
}

.form-group .col-form-label {
  &.required {
    &:after {
      content: '*';
      color: $danger;
    }
  }
}

.attachment-wrapper {
  a,
  a:not([href]) {
    cursor: pointer;
    color: $blue;
    display: inline-block;
    margin: 0 1rem 0 0;
    vertical-align: middle;

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  i {
    vertical-align: middle;
  }

  .btn {
    width: auto;
    padding: 0;
    vertical-align: middle;
  }
}

.form-control-attachment {
  margin: 0.35rem 0;

  .attachment-upload-wrapper {
    max-height: 0;
    overflow: hidden;
    position: relative;

    input {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }
  }

  .attachment-wrapper {
    line-height: 2.5rem;
  }
}

.layout-form {
  max-width: 120rem;
  margin: 0 auto 0 0;
  padding-top: 1rem;
  font-size: 1.2rem;

  + .layout-form:not(.with-title) {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: solid $gray-300 1px;
  }

  .form-title {
    display: flex;
    align-items: flex-end;
    padding: 0 0 1rem 0;
    border-bottom: solid $gray-300 1px;
    margin-bottom: 2rem;

    &.collapsed {
      margin-bottom: 0;
    }

    .title {
      font-size: 1.4rem;
    }

    .spacer {
      flex: 1;
    }

    .toggle {
      cursor: pointer;
      color: $blue;
      font-size: 1.2rem;

      &:hover {
        color: $blue;
      }

      i {
        margin-right: 0.4rem;
      }
    }
  }

  .form-control-plaintext {
    padding: calc(0.45rem + 1px) calc(0.9rem + 1px);
    word-break: break-word;
    font-size: 1.2rem;
    border-width: 0;

    pre {
      overflow: hidden;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    a,
    a:not([href]) {
      cursor: pointer;
      color: $blue;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }

  .vertical-separator-in-middle {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      border-left: solid $gray-300 1px;
    }

    .form-group {
      .form-row {
        padding-right: 2rem;
      }
    }
  }

  .vertical-separators-in-between {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 33.33%;
      bottom: 0;
      border-left: solid $gray-300 1px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 66.67%;
      bottom: 0;
      border-left: solid $gray-300 1px;
    }

    .form-group {
      .form-row {
        padding-right: 1.5rem;
      }
    }
  }

  .form-group {
    .form-row {
      padding-right: 7rem;

      > .col-form-label {
        width: 14rem;
        max-width: 14rem;
        min-width: 14rem;
        text-align: right;
        white-space: normal;
        word-break: break-all;
      }

      > div[role='group'] {
        flex: 1;
        max-width: none;
      }
    }
  }

  &.readonly {
    .form-group {
      margin-bottom: 0;

      .form-row {
        .col-sm-9 {
          padding-bottom: 0;
        }
      }
    }
  }
}

.layout-form-action-toolbar {
  margin-top: 2rem;
  padding-left: 14rem;

  .action-toolbar-tips {
    padding-bottom: 6px;
    color: $red;
  }
}

.modal-content {
  font-size: 1.2rem;

  .layout-form {
    padding-top: 2.8em;
    max-width: none;

    .form-group {
      .form-row {
        padding-right: 5rem;

        > .col-form-label {
          width: 10rem;
          max-width: 10rem;
          min-width: 10rem;
        }
      }
    }
  }

  .form-group-extra-button-wrapper {
    padding-right: 5rem;
    text-align: right;
  }

  .form-modal-footer {
    padding-right: 6rem;
  }
}

.table {
  table-layout: fixed;
  margin-bottom: 0;

  thead tr {
    background-color: transparent;
    color: $dark;

    th {
      border-top-width: 0;
      border-bottom-width: 1px;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  tbody {
    tr td {
      word-break: break-all;
      vertical-align: middle;
      padding-top: 1em;
      padding-bottom: 1rem;
    }

    tr:hover {
      //background-color: $gray-100;
    }
  }

  @for $i from 0 through 100 {
    .column-#{$i} {
      width: $i * 1%;
      max-width: $i * 1%;
      word-break: break-all;
    }
  }

  .nobreak-column {
    white-space: nowrap;
  }

  .select-column {
    width: 6rem;
    max-width: 6rem;
    text-align: center;
  }

  .custom-control-inline {
    vertical-align: middle;
  }

  thead {
    .custom-control-label {
      &:before {
        background-color: $light;
      }
    }
  }

  td,
  th {
    a,
    a:not([href]) {
      cursor: pointer;
      color: $blue;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }

  .table-cell-sub-item {
    margin: 0 -0.75rem;
    padding: 1rem 0.75rem;
    @include truncate-text;

    + .table-cell-sub-item {
      border-top: solid $lighter 1px;
    }

    &:first-child {
      margin-top: -1rem;
    }

    &:last-child {
      margin-bottom: -1rem;
    }
  }
}

.table-filter {
  padding: 2rem 0;
  border-bottom: solid $lighter 1px;
  display: flex;

  .content-wrapper {
    flex: 1;

    .row + .row {
      margin-top: 1rem;
    }
  }

  .buttons-wrapper {
    margin-left: 30px;

    .btn + .btn {
      margin-left: 0.4rem;
    }
  }
}

.layout-breadcrumb {
  margin: -2rem -2rem 0 -2rem;
  padding: 2rem 2rem 2rem 4rem;
  display: flex;
  align-items: center;

  .breadcrumb-item,
  .breadcrumb-item:not([href]) {
    display: inline-block;
    font-size: 1.2rem;
    color: $dark;
    cursor: pointer;

    + .breadcrumb-item {
      &:before {
        content: '/';
        display: inline-block;
        margin: 0 0.5rem;
        color: $light;
      }
    }

    &:hover {
      color: $dark;
    }

    &.no-action {
      cursor: default;
      //font-weight: bold;
      color: $light;
    }
  }
}

.form-list {
  .form-list-button {
    cursor: pointer;
    padding: calc(0.45rem + 1px) calc(0.9rem + 1px);
    display: inline-block;

    i ~ span {
      display: inline-block;
      margin-left: 4px;
    }

    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  .form-list-item {
    display: flex;
    align-items: center;

    .spacer {
      flex: 1;
    }

    .form-control {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .input-group-text {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    select.form-control:not([size]):not([multiple]) {
      height: auto;
    }

    .form-list-item-text {
      flex: 1;
      padding: calc(0.45rem + 1px) 0;
      margin: 0 calc(0.9rem + 1px);

      .smaller {
        font-size: 1rem;
      }
    }

    &.hoverable {
      border-radius: 0.2rem;

      .form-list-button {
        visibility: hidden;
      }

      &:hover {
        background-color: $gray-100;

        .form-list-button {
          visibility: visible;
        }
      }
    }
  }
}

.label-round {
  font-size: 1rem;
  line-height: 1.8rem;
  border-radius: 0.9rem;
  padding: 0 0.8rem;
  min-width: 4rem;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color: $white;
  background-color: $dark;
  margin: 0 4px 0 0;
  word-break: keep-all;

  &.multi {
    margin-bottom: 2px;
  }

  &.label-primary {
    background-color: $blue;
  }

  &.label-secondary {
    background-color: $gray-700;
  }

  &.label-success {
    background-color: $green;
  }

  &.label-info {
    background-color: $cyan;
  }

  &.label-warning {
    background-color: $yellow;
  }

  &.label-danger {
    background-color: $red;
  }

  &.label-muted {
    background-color: $lighter;
  }

  .fa,
  .far,
  .fal,
  .fab {
    &:first-child {
      margin-right: 0.4rem;
    }

    &:last-child {
      margin-left: 0.4rem;
    }
  }
}

.radio-button-group {
  display: flex;
  align-items: stretch;
  //justify-content: center;

  .radio-button {
    padding: calc(0.6rem + 1px) 2rem;
    background-color: $lighter;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 0.2rem;
      border-bottom-left-radius: 0.2rem;
    }

    &:last-child {
      border-top-right-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
    }

    &.active {
      background-color: $gray-700;
      color: $white;
      font-weight: bold;
      cursor: default;
    }

    i {
      margin-right: 0.5rem;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }
}

.datepicker-form-control[readonly] {
  background-color: transparent;
}

.datepicker-form-control:disabled {
  background-color: $lighter;
}

.datepicker {
  .clear:hover {
    background-color: transparent !important;
  }
}

.load-more {
  padding: 1rem 0;
}

.field-group {
  display: flex;
  margin: 0 -1rem;
  position: relative;

  + .field-group {
    padding-top: 1px;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 1rem;
      right: 1rem;
      border-top: solid $lighter 1px;
    }
  }

  .field-item {
    flex: 1;
    padding: 0.5rem 2rem;
    display: flex;
    line-height: 2rem;

    .field-name {
      color: $light;
      padding-right: 1rem;
    }

    .field-value {
      flex: 1;
      word-break: break-all;
      white-space: normal;

      a,
      a:not([href]) {
        cursor: pointer;
        color: $blue;

        &:hover {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }
}
