#toast-container {
  font-size: 1.4rem;
}

#toast-container > div {
  opacity: 1;
}

#toast-container > .toast {
  background-image: none !important;
}

#toast-container > .toast:before {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  font-family: 'Font Awesome 5 Pro';
  line-height: 1.5rem;
  float: none;
  color: $white;
  padding: 0;
  margin: 0;
}

#toast-container > .toast-warning {
  background-image: none;
  background-color: $warning;
}

#toast-container > .toast-error {
  background-image: none;
  background-color: $danger;
}

#toast-container > .toast-info {
  background-image: none;
  background-color: $primary;
}

#toast-container > .toast-success {
  background-image: none;
  background-color: $success;
}

#toast-container > .toast-warning:before {
  content: "\f06a";
}

#toast-container > .toast-error:before {
  content: "\f057";
}

#toast-container > .toast-info:before {
  content: "\f05a";
}

#toast-container > .toast-success:before {
  content: "\f058";
}
