<template>
  <div class="dropdown-wrapper">
    <b-form-input
      :state="state"
      :disabled="disabled"
      :placeholder="placeholder"
      autocomplete="new-password"
      v-model="search"
      @focus.native="handleFocus()"
      @keyup.native="handleKeyUp()"
      @keyup.up.native="updateIndex(-1)"
      @keyup.down.native="updateIndex(1)"
      @keyup.enter.native="handleSelect()"
    />
    <div v-show="searching && options.length" class="dropdown">
      <div
        v-for="(option, index) of options"
        :key="index"
        class="dropdown-item"
        :class="{ selected: index === selectedIndex }"
        @click="handleSelect(option)"
      >{{ getDropdownText(option) }}</div>
    </div>
  </div>
</template>

<script type="text/babel">
'use strict'

import $ from 'jquery'

export default {
  props: ['value', 'options', 'textField', 'dropdownTextField', 'state', 'disabled', 'placeholder', 'freeText'],
  data() {
    return {
      searching: false,
      search: this.getText(this.value),
      selectedIndex: 0
    }
  },
  watch: {
    value(to) {
      if (this.searching) {
        return
      }
      this.updateSearch(to)
    },
    search() {
      this.$breakUpdateLoop(() => {
        let option = this.options[this.selectedIndex]
        if (!option) {
          if (this.freeText) {
            option = this.search || null
          } else {
            option = null
          }
        }
        this.$emit('input', option)
        this.$debounce('handleSearch')
      })
    },
    options(to) {
      this.selectedIndex = Math.min(this.selectedIndex, to.length - 1)
    },
    searching(to) {
      if (!to) {
        this.$emit('search')
      }
    }
  },
  mounted() {
    this._handler = e => {
      if (!this.searching) {
        return
      }
      let container = $(this.$el)
      // if the target of the click isn't the container nor a descendant of the container
      if (!container.is(e.target) && container.has(e.target).length === 0) {
        this.searching = false
        this.selectedIndex = 0
        this.updateSearch(this.value)
      }
    }
    $(document).on('mouseup', this._handler)
  },
  beforeDestroy() {
    $(document).off('mouseup', this._handler)
  },
  methods: {
    getText(option) {
      if (!option) {
        return ''
      }
      return (this.textField ? option[this.textField] : option.text) || option || ''
    },
    getDropdownText(option) {
      if (!option) {
        return ''
      }
      return (this.dropdownTextField ? option[this.dropdownTextField] : this.getText(option)) || ''
    },
    updateIndex(delta) {
      if (!this.options.length) {
        this.selectedIndex = 0
        return
      }
      this.selectedIndex = (this.selectedIndex + delta + this.options.length) % this.options.length
    },
    updateSearch(option) {
      this.$breakUpdateLoop(() => {
        let text = this.getText(option)
        if (this.search !== text) {
          this.search = text
        }
      })
    },
    handleSelect(option) {
      option = option || this.options[this.selectedIndex]
      if (!option) {
        return
      }
      this.updateSearch(option)
      this.searching = false
      this.selectedIndex = 0
      this.$emit('input', option)
    },
    handleKeyUp() {
      this.searching = true
    },
    handleSearch() {
      if (!this.searching) {
        return
      }
      this.$emit('search', this.search)
    },
    handleFocus() {
      this.searching = true
      this.$emit('search', this.search)
    }
  }
}
</script>
