<template>
  <input ref="dateInput" class="datepicker-form-control form-control" readonly="readonly" />
</template>

<script type="text/babel">
'use strict'

import $ from 'jquery'
import _ from 'lodash'
import 'bootstrap-datepicker'
import 'bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min'
import 'bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-TW.min'
import 'bootstrap-datepicker/dist/locales/bootstrap-datepicker.ja.min'

export default {
  props: ['value', 'state', 'disabled', 'placeholder', 'lang'],
  data() {
    return {}
  },
  watch: {
    value(to) {
      this.$breakUpdateLoop(() => {
        //console.log('changeValue');
        this.setDate(to)
      })
    },
    state() {
      this.updateDateInput()
    },
    disabled() {
      this.updateDateInput()
    },
    placeholder() {
      this.updateDateInput()
    }
  },
  mounted() {
    let el = $(this.$refs.dateInput)
    el.datepicker({
      language: this.lang || 'zh-CN',
      format: 'yyyy-mm-dd',
      todayHighlight: true,
      autoclose: true,
      clearBtn: true
    }).on('changeDate', e => {
      this.$breakUpdateLoop(() => {
        //console.log('changeDate', e);
        let date = e.date
        if (date) {
          date.setHours(0)
          date.setMinutes(0)
          date.setSeconds(0)
          date.setMilliseconds(0)
        }
        this.$emit('input', date || null)
      })
    })
    this.setDate(this.value)
    this.updateDateInput()
  },
  methods: {
    updateDateInput() {
      let el = $(this.$refs.dateInput)
      el.toggleClass('is-invalid', this.state === 'invalid' || this.state === false)
      el.toggleClass('is-valid', this.state === 'valid' || this.state === true)
      el.prop('disabled', !!this.disabled)
      el.prop('placeholder', this.placeholder || '')
    },
    setDate(date) {
      let el = $(this.$refs.dateInput)
      if (date) {
        if (!_.isDate(date)) {
          date = new Date(date)
        }
      } else {
        date = null
      }
      el.datepicker('setDate', date)
    }
  }
}
</script>
