<template>
  <div class="form-control-attachment">
    <div class="attachment-upload-wrapper">
      <input ref="fileInput" type="file" :disabled="attachmentUploading" />
    </div>
    <div v-for="(attachment, index) of attachments" :key="attachment.url" class="attachment-wrapper">
      <i class="fal fa-paperclip"></i>
      <a target="_blank" :href="attachment.url">{{ attachment.filename }}</a>
      <b-button variant="danger" size="sm" :disabled="attachmentUploading" @click="removeAttachment(index)">
        <i class="fal fa-times standalone"></i>
      </b-button>
    </div>
    <b-button
      v-show="!(!multi && attachments.length > 0)"
      variant="outline-secondary"
      size="sm"
      :disabled="attachmentUploading"
      @click="showFileDialog()"
      ><i class="fal fa-upload"></i>上传附件</b-button
    >
  </div>
</template>

<script type="text/babel">
'use strict'

import _ from 'lodash'

export default {
  props: ['value', 'uploader', 'multi'],
  data() {
    return {
      attachments: this.value2Attachments(this.value || null),
      attachmentUploading: false
    }
  },
  watch: {
    value(to) {
      this.$breakUpdateLoop(() => {
        this.attachments = this.value2Attachments(to || null)
      })
    },
    attachments(to) {
      this.$breakUpdateLoop(() => {
        this.$emit('input', this.attachments2Value(to))
      })
    }
  },
  mounted() {
    let fileInput = $(this.$refs.fileInput)
    fileInput.on('change', e => {
      let file = e.target.files[0]
      if (!file) {
        return
      }
      fileInput.val('')
      this.upload(file)
    })
  },
  methods: {
    value2Attachments(value) {
      return _.isArray(value) ? value : value ? [value] : []
    },
    attachments2Value(attachments) {
      return this.multi ? attachments : attachments[0] || null
    },
    showFileDialog() {
      $(this.$refs.fileInput).trigger('click')
    },
    async upload(file) {
      if (this.attachmentUploading) {
        return
      }
      this.attachmentUploading = true
      try {
        let url = await this.uploader(file)
        this.attachments.push({ filename: file.name, url })
      } catch (e) {
        this.$utils.handleGeneralError(e)
      } finally {
        this.attachmentUploading = false
      }
    },
    removeAttachment(index) {
      this.attachments.splice(index, 1)
    }
  }
}
</script>
