<template>
  <b-form-group
    :label="spec.name"
    :label-class="spec.required ? 'required' : ''"
    horizontal
    :invalid-feedback="validation.firstError('fieldValue')"
    :state="validation.hasError('fieldValue') ? 'invalid' : null"
  >
    <b-form-input
      v-if="useInput"
      :state="validation.hasError('fieldValue') ? 'invalid' : null"
      v-model.trim="fieldValue"
    />
    <b-form-textarea
      v-if="useTextArea"
      :state="validation.hasError('fieldValue') ? 'invalid' : null"
      rows="3"
      v-model.trim="fieldValue"
    />
    <date-picker
      v-if="useDatePicker"
      :state="validation.hasError('fieldValue') ? 'invalid' : null"
      v-model="fieldValue"
    />
    <file-uploader v-if="useFile" :multi="asArray" :uploader="uploader" v-model="fieldValue" />
  </b-form-group>
</template>

<script type="text/babel">
'use strict'

import { Validator } from 'simple-vue-validator'
import DatePicker from './DatePicker.vue'
import FileUploader from './FileUploader.vue'

export default {
  props: ['spec', 'value', 'uploader'],
  components: {
    DatePicker,
    FileUploader
  },
  data() {
    return {
      fieldValue: this.value || ''
    }
  },
  computed: {
    useInput() {
      return this.spec.type === 'text' || this.spec.type === 'int' || this.spec.type === 'float'
    },
    useTextArea() {
      return this.spec.type === 'paragraph'
    },
    useDatePicker() {
      return this.spec.type === 'date'
    },
    useFile() {
      return this.spec.type === 'attachment' || this.spec.type === 'attachments'
    },
    asArray() {
      return this.spec.type === 'attachments'
    }
  },
  watch: {
    value(to) {
      this.$breakUpdateLoop(() => {
        this.fieldValue = to || ''
      })
    },
    fieldValue(to) {
      this.$breakUpdateLoop(() => {
        this.$emit('input', to)
      })
    }
  },
  validators: {
    fieldValue(value) {
      let validator = Validator.value(value)
      if (this.spec.required) {
        validator.required('必填')
      }
      if (this.spec.type === 'int') {
        validator.integer('必须是整数')
      }
      if (this.spec.type === 'float') {
        validator.float('必须是数字')
      }
      return validator
    }
  },
  methods: {
    cancel() {
      this.$emit('close', this.item)
    }
  }
}
</script>
