<template>
  <div class="pagination-wrapper">
    <div class="pagination-info">
      {{ totalText || '总计：' }}{{ pagination.totalItems || 0 }}{{ perPageText || '，每页：' }}
    </div>
    <b-form-select :options="pageSizeOptions" v-model="pagination.pageSize"></b-form-select>
    <div class="pagination-info">{{ currentPageText || '，当前页：' }}</div>
    <b-form-select :options="pages" v-model="pagination.page"></b-form-select>
    <b-button
      variant="outline-secondary"
      :disabled="pagination.page <= 1"
      @click="pagination.page = pagination.page - 1"
    >
      <i class="fal fa-chevron-left standalone"></i>
    </b-button>
    <b-button
      variant="outline-secondary"
      :disabled="pagination.page >= totalPages"
      @click="pagination.page = pagination.page + 1"
    >
      <i class="fal fa-chevron-right standalone"></i>
    </b-button>
  </div>
</template>

<script type="text/babel">
'use strict'

export default {
  props: ['value', 'totalText', 'perPageText', 'currentPageText'],
  data() {
    return {
      pagination: this.$utils.fullClone(this.value)
    }
  },
  watch: {
    value: {
      deep: true,
      handler(to) {
        this.$breakUpdateLoop(() => {
          this.pagination = this.$utils.fullClone(to)
        })
      }
    },
    'pagination.pageSize'() {
      this.$breakUpdateLoop(() => {
        this.pagination.page = 1
        this.$emit('input', this.$utils.fullClone(this.pagination))
      })
    },
    'pagination.page'() {
      this.$breakUpdateLoop(() => {
        this.$emit('input', this.$utils.fullClone(this.pagination))
      })
    }
  },
  computed: {
    totalPages() {
      return Math.ceil(this.pagination.totalItems / this.pagination.pageSize)
    },
    pages() {
      let pages = []
      for (let i = 1; i <= this.totalPages; i++) {
        pages.push(i)
      }
      return pages
    },
    pageSizeOptions() {
      return [10, 20, 50, 100]
    }
  }
}
</script>
