<template>
  <div class="dropdown-wrapper">
    <div class="button-wrapper" @click="toggle()">
      <i class="far fa-ellipsis-v"></i>
    </div>
    <div v-show="show" class="dropdown align-right">
      <slot></slot>
    </div>
  </div>
</template>

<script type="text/babel">
'use strict'

export default {
  data() {
    return {
      show: false
    }
  },
  mounted() {
    this._handler = e => {
      if (!this.show) {
        return
      }
      let container = $(this.$el).find('.button-wrapper')
      // if the target of the click isn't the container nor a descendant of the container
      if (!container.is(e.target) && container.has(e.target).length === 0) {
        this.show = false
      }
    }
    $(document).on('mouseup', this._handler)
  },
  beforeDestroy() {
    $(document).off('mouseup', this._handler)
  },
  methods: {
    toggle() {
      this.show = !this.show
    }
  }
}
</script>
