<template>
  <div class="radio-button-group">
    <div
      v-for="option of options"
      :key="getValue(option)"
      class="radio-button"
      :class="{ active: value === getValue(option) }"
      @click="$emit('input', getValue(option))"
    >
      {{ getText(option) }}
    </div>
  </div>
</template>

<script type="text/babel">
'use strict'

import _ from 'lodash'

export default {
  props: ['value', 'options'],
  methods: {
    getText(option) {
      return !_.isUndefined(option.text) ? option.text : option
    },
    getValue(option) {
      return !_.isUndefined(option.value) ? option.value : option
    }
  }
}
</script>
