<template>
  <textarea
    :readonly="readonly"
    :placeholder="placeholder"
    class="control auto-resize"
    :rows="rows"
    @blur="$emit('blur')"
    @keydown="$emit('key')"
    v-model="text"
  ></textarea>
</template>

<script type="text/babel">
'use strict'

import $ from 'jquery'
import autosize from 'autosize'

export default {
  props: ['value', 'placeholder', 'readonly', 'rows'],
  data() {
    return {
      text: this.value
    }
  },
  watch: {
    async value(to) {
      if (this.text !== to) {
        this.text = to
        await this.$nextTick()
        this.resize()
      }
    },
    text(to) {
      if (to !== this.value) {
        this.$emit('input', to)
      }
    }
  },
  mounted() {
    autosize(this.$el)
    this.$el.addEventListener('autosize:resized', () => {
      this.$emit('resize')
    })
  },
  beforeDestroy() {
    autosize.destroy(this.$el)
  },
  methods: {
    resize() {
      autosize.update(this.$el)
    },
    focus() {
      $(this.$el).focus()
    }
  }
}
</script>
