<template>
  <div class="sfu-wrapper" :class="{ 'sfu-has-error': hasError, 'sfu-no-border': !isEmpty }" :style="style">
    <div class="sfu-add-file-wrapper">
      <input class="sfu-file-input" :id="fileId" type="file" :accept="accept" />
    </div>
    <label v-if="isEmpty && !uploading" class="sfu-add-file-label" :for="fileId"> </label>
    <div v-if="isEmpty && !uploading" class="sfu-add-file-text">
      <template v-if="addText">
        {{ addText }}
      </template>
      <template v-else>
        &#43;
      </template>
    </div>
    <a v-if="!isEmpty" class="sfu-remove-file" @click="remove">
      <template v-if="removeText">
        {{ removeText }}
      </template>
      <template v-else>
        &#215;
      </template>
    </a>
    <div v-if="uploading" class="sfu-progress-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient x1="100%" y1="0%" x2="0%" y2="100%" id="pomodoroLinearGradient">
            <stop stop-color="#00E5FF" offset="0%"></stop>
            <stop stop-color="#0072FF" offset="100%"></stop>
          </linearGradient>
          <linearGradient x1="100%" y1="0%" x2="0%" y2="100%" id="pomodoroClosingLinearGradient">
            <stop stop-color="#f89630" offset="0%"></stop>
            <stop stop-color="#f15a29" offset="100%"></stop>
          </linearGradient>
          <linearGradient x1="100%" y1="0%" x2="0%" y2="100%" id="pomodoroBreakLinearGradient">
            <stop stop-color="#deffc9" offset="0%"></stop>
            <stop stop-color="#a3f8ff" offset="100%"></stop>
          </linearGradient>
        </defs>
        <g>
          <circle r="24%" cy="50%" cx="50%" fill="transparent" stroke-dasharray="150.8%" :stroke-dashoffset="arc" />
        </g>
      </svg>
    </div>
    <div v-if="uploading" class="sfu-progress-text-wrapper">{{ progressLabel }}</div>
    <div v-if="!isEmpty" class="sfu-preview-image" :style="{ 'background-image': previewUrl }" />
  </div>
</template>

<style lang="scss">
.sfu-wrapper {
  min-width: 50px;
  min-height: 50px;
  border: solid #949494 1px;
  border-radius: 2px;
  position: relative;

  &:hover {
    border-color: #488dfb;

    .sfu-add-file-text {
      color: #448aff;
    }

    a.sfu-remove-file {
      visibility: visible;
    }
  }

  &.sfu-has-error {
    border-color: #fc1f49;

    .sfu-add-file-text {
      color: #ff1744;
    }
  }

  &.sfu-no-border {
    border: none;

    &:hover {
      border: none;
    }
  }

  .sfu-add-file-wrapper {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    position: relative;

    .sfu-file-input {
      position: absolute;
      left: -1000px;
      top: -1000px;
    }
  }

  .sfu-add-file-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
  }

  .sfu-add-file-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  a.sfu-remove-file {
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: inline-block;
    line-height: 24px;
    min-width: 24px;
    padding: 0 4px;
    border-radius: 12px;
    color: #fff;
    background-color: #fc5356;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }

  .sfu-progress-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 60%;
      height: 60%;
      transform: rotate(-90deg);

      circle {
        stroke: #488dfb;
        stroke-width: 4px;
        transition: stroke-dashoffset 0.3s linear;
      }
    }
  }

  .sfu-progress-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: inline-block;
    transform: translate(-50%, -50%);
    color: #448aff;
  }

  .sfu-preview-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: solid #949494 1px;
    background-position: center;
    background-size: cover;
  }
}
</style>

<script type="text/babel">
'use strict'

import uuid from 'uuid'
import $ from 'jquery'

export default {
  props: [
    'value',
    'width',
    'height',
    'accept',
    'addText',
    'removeText',
    'hasError',
    'readonly',
    'uploadMethod',
    'previewUrlField'
  ],
  // TODO support readonly
  data() {
    return {
      uploading: false,
      progress: 0
    }
  },
  computed: {
    isEmpty() {
      return !this.value
    },
    fileId() {
      return uuid.v4()
    },
    style() {
      let style = {}
      if (this.width) {
        style.width = this.width
      }
      if (this.height) {
        style.height = this.height
      }
      return style
    },
    previewUrl() {
      let url
      if (this.value) {
        if (this.previewUrlField) {
          url = this.value[this.previewUrlField] || ''
        } else {
          url = this.value
        }
      }
      if (url) {
        return `url('${url}')`
      }
      return ''
    },
    arc() {
      return 150.8 - (150.8 * this.progress) / 100 + '%'
    },
    progressLabel() {
      return this.progress.toFixed(0) + '%'
    }
  },
  mounted() {
    let el = $(this.$el)
    this._fileInput = el.find(`#${this.fileId}`)
    this._fileInput.on('change', e => {
      let file = e.target.files[0]
      if (!file) {
        return
      }
      this.upload(file)
      this._fileInput.val('')
    })
  },
  methods: {
    async upload(file) {
      this.uploading = true
      this.progress = 0
      let onProgress = progress => {
        this.progress = progress
      }
      try {
        let result = await this.uploadMethod(file, onProgress)
        this.$emit('input', result || null)
      } finally {
        this.progress = 0
        this.uploading = false
      }
    },
    remove() {
      this.$emit('input', null)
    }
  }
}
</script>
