<template>
  <div class="load-more">
    <template v-if="!hasDefaultSlot">
      <i class="far fa-circle-notch fa-spin"></i> 载入中……
    </template>
    <slot></slot>
  </div>
</template>

<style lang="scss">
.load-more {
  text-align: center;
}
</style>

<script type="text/babel">
'use strict'

export default {
  props: [],
  data() {
    return {
      isInScreen: true,
      $elem: null
    }
  },
  computed: {
    hasDefaultSlot() {
      return !!this.$slots.default
    }
  },
  async mounted() {
    this.$elem = $(this.$el)
    this.updateIsVisible()
    this._checker = () => {
      this.$debounce('updateIsVisible', 16) // a frame time, 1/60
    }
    $(window).on('scroll', this._checker)
    await this.$nextTick()
    this.updateIsVisible()
  },
  beforeDestroy() {
    $(window).off('scroll', this._checker)
  },
  methods: {
    updateIsVisible() {
      let $window = $(window)
      const scrollTop = $window.scrollTop()
      const clientHeight = $window.height()
      let $el = $(this.$el)
      const elTop = $el.offset().top
      const elHeight = $el.height()
      //console.log(scrollTop, clientHeight, elTop, elHeight);
      if (scrollTop + clientHeight > elTop + elHeight / 2) {
        //console.log('load');
        this.$emit('load')
      }
    }
  }
}
</script>
