<!-- Header Structure -->
<template>
  <div>
    <v-navigation-drawer app fixed v-model="drawer" :width="240">
      <sidebar :nav-catalog="navCatalog" />
    </v-navigation-drawer>
    <v-toolbar app fixed color="primary" class="layout-topbar">
      <v-toolbar-side-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>{{ pageTitle }}</v-toolbar-title>
      <v-spacer />
      <div>
        <v-menu offset-y>
          <div slot="activator">
            <i class="ti-user"></i>
          </div>
          <v-list>
            <v-list-tile href="/admin/logout">
              <v-icon class="mr-3 font-lg">ti-power-off</v-icon>
              <v-list-tile-title>退出</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </div>
    </v-toolbar>
  </div>
</template>

<style lang="scss">
.theme--light .toolbar {
  &.layout-topbar {
    color: #fff;

    .btn {
      color: #fff;
    }
  }
}
</style>

<script>
import Sidebar from './Sidebar.vue'

export default {
  props: ['title', 'navCatalog'],
  components: {
    Sidebar
  },
  data() {
    return {
      drawer: true // sidebar drawer default true
    }
  },
  computed: {
    pageTitle() {
      return this.breadcrumbs(this.$route.path)
    },
    bar() {
      return window.preload.data.bar || {}
    }
  },
  watch: {
    pageTitle(to) {
      this.updateBrowserTitle()
    }
  },
  mounted() {
    this.updateBrowserTitle()
  },
  methods: {
    breadcrumbs(path) {
      for (let catalogItem of this.navCatalog) {
        for (let item of catalogItem) {
          if (path.startsWith(item.path)) {
            let title = item.title
            if (item.items) {
              for (let subItem of item.items) {
                if (path.startsWith(item.path + subItem.path)) {
                  title += ' · ' + subItem.title
                }
              }
            }
            return title
          }
        }
      }
    },
    updateBrowserTitle() {
      let title = this.title || ''
      if (this.pageTitle) {
        if (title) {
          title += ' · '
        }
        title += this.pageTitle
      }
      document.title = title
    }
  }
}
</script>
