<template>
  <div
    class="input-group form-control"
    :class="{
      'input-group--error': anyError,
      'error--text': anyError,
      'form-control__details__placeholder': !anyErrorMessage
    }"
  >
    <label :class="{ 'form-control__label__required': required }">{{ label }}</label>
    <div class="input-group__input">
      <slot />
    </div>
    <slot name="extra" />
    <div v-if="anyErrorMessage" class="input-group__details">
      <div v-for="message of errorMessages" class="input-group__messages input-group__error">{{ message }}</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.form-control__label__required {
  &:after {
    content: '*';
  }
}

.form-control__details__placeholder {
  padding-bottom: 26px;
}
</style>

<script type="text/babel">
'use strict'

export default {
  props: {
    label: String,
    required: Boolean,
    error: Boolean,
    errorMessages: Array
  },
  computed: {
    anyErrorMessage() {
      return this.errorMessages && this.errorMessages.length
    },
    anyError() {
      return this.error || this.anyErrorMessage
    }
  }
}
</script>
