<template>
  <div class="helper-text" :class="{ 'has-error': error }"><slot></slot>&nbsp;</div>
</template>

<style lang="scss" scoped>
.helper-text {
  font-size: 12px;
  padding: 4px 0;

  &.has-error {
    color: #ff5252;
  }
}
</style>

<script type="text/babel">
'use strict'

export default {
  props: {
    error: Boolean
  }
}
</script>
