<!-- Side Structure -->
<template>
  <v-list>
    <template v-for="catalog of navCatalog">
      <div v-for="item of catalog" class="mt-3">
        <template v-if="item.items != null">
          <v-list-group :key="item.title" :prepend-icon="item.action" no-action v-model="item.active">
            <v-list-tile ripple slot="activator" v-if="item.items !== null">
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile ripple slot="activator" :to="item.path" v-else>
              <v-list-tile-action>
                <i :class="item.action"></i>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              ripple
              v-for="subItem of item.items"
              v-bind:key="subItem.title"
              v-if="subItem !== null"
              :to="item.path + subItem.path"
            >
              <v-list-tile-content>
                <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
        </template>
        <template v-else-if="item.url">
          <v-list-tile :href="item.url" target="_blank">
            <v-list-tile-action>
              <v-icon>{{ item.action }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
        <template v-else>
          <v-list-tile :to="item.path" :key="item.path">
            <v-list-tile-action>
              <v-icon>{{ item.action }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </div>
    </template>
  </v-list>
</template>

<script>
export default {
  props: ['navCatalog'],
  data() {
    return {
      lang: {
        strings: {}
      }
    }
  },
  computed: {}
}
</script>
